.heading {
    font-family: metal-mania;
    font-size: 4rem;
    padding: 2rem;
	padding-top: 6rem;
	color: #b3ffff;
    text-align: center;
    display: block;
    font-weight: bold;
  }

/*Container*/
.container {
	margin: 36px auto;
	width: auto;
	
	max-width: 100%;
}


.search-label {
    position: relative;
    padding-left: 25rem;
	padding-top: 1rem;
	width: auto;
}

.container input {
	width: 100%;
	padding: 0.5rem;
	font-size: 2rem;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
	border-radius: 2%;
	max-width: auto;
}

.search-icon {
	position: absolute;
	padding-top: 1rem;
	font-size: 2.5rem;
	color: #555;
	right: 0.5rem;
}